.virtualKeyboard {
margin:0px; padding:0px;
font-size:0.59em !important;
font-family:Arial Unicode MS;font-weight:normal;
}
.ui-popup-android-container{
	position: fixed;
    max-width: 100% !important;
    top: auto !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100%;
}
.vkblayout{background:#ffffff;}
.keyboard{display:block;}
.row{display:block;text-align: center;}
.keyboardHeader {position:relative;}
.keyboardHeader div {color:#fff; background-color:#7b8490;padding:3px; padding-left:15px; padding-right:15px; position:absolute; cursor:pointer; right:-10px; top:-40px;}
.closex {font-weight:bolder; color:#000;}

.keyboardCapitalLetter,.keyboardSmallLetter,.keyboardNumber,.keyboardSymbols {display:none;}
.button{
    font-size:1.9em;
	width:2.6em; height:1.9em;
    background-color:#fff;
    display:inline-block;
	margin:0.25em;
    cursor:pointer;

    -webkit-box-shadow: 0px 1px 3px #000000;-moz-box-shadow: 0px 1px 3px #000000;box-shadow: 0px 1px 3px #000000;
    -moz-border-radius: 5px;border-radius: 5px;
    background: #ffffff; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* ie */
}
.button_cancel, .button_accept{
	width:3.2em;
    background: #ffaf0f; /* old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #ffaf0f 100%); /* firefox */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ffaf0f)); /* webkit */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffaf0f',GradientType=0 ); /* ie */
}
.buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.button_enter {width:7em;}
.button_del{width:4em;}
.button_minidel,.button_minienter,.button_minipm{width:2.6em;}
.button_smallletter, .button_capitalletterleft{width:4em;}
.button_capitalletterright{width:4em;}
.button_numberleft, .button_symbolsleft{width:4em;}
.button_numberright, .button_symbolsright{width:4em;}
.button_space {width:12em;}

.key { text-align:center;padding-top:0.2em; text-shadow: 0px 1px 1px #ffffff;filter: dropshadow(color=#ffffff, offx=0, offy=1);}
.key_pm,.key_del, .key_enter, .key_smallletter, .key_capitalletterleft, .key_capitalletterright, .key_number , .key_symbols {padding-top:0.25em;}

.button:hover {
border-color: rgba(82, 168, 236, 0.8);
outline: 0;
outline: thin dotted 9;
-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),0 0 8px rgba(82, 168, 236, 0.6);
}

@media all and (min-width: 601px) and (max-width: 801px) {
.virtualKeyboard {font-size:0.56em !important;}
.button{
	height:2.1em;
}
.button_cancel, .button_accept{
	width:3.2em;
}
.buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.button_enter {width:6em;}
.button_del{width:3em;}
.button_minidel,.button_minienter,.button_minipm{width:2.6em;}
.button_smallletter, .button_capitalletterleft, .button_capitalletterright{width:3em;}
.button_numberleft, .button_symbolsleft{width:4em;}
.button_numberright, .button_symbolsright{width:4em;}
.button_space {width:12em;}
}

@media all and (min-width: 100px) and (max-width: 600px) {
.virtualKeyboard {font-size:0.39em !important;}
.button{
	height:2.6em;
}
.button_cancel, .button_accept{
	width:3.2em;
}
.buttonDown {background:none;background-color: #c9cdd5; -webkit-box-shadow:none;-moz-box-shadow: none;box-shadow: none;}
.button_enter {width:6em;}
.button_del{width:3em;}
.button_minidel,.button_minienter,.button_minipm{width:2.6em;}
.button_smallletter, .button_capitalletterleft, .button_capitalletterright{width:3em;}
.button_numberleft, .button_symbolsleft{width:4em;}
.button_numberright, .button_symbolsright{width:4em;}
.button_space {width:12em;}
}
